@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgrey;
}
header{
    text-align: center;
    padding: 20px;
    font-size: 130%
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    margin: auto;
    flex-direction: column;
    font-size: 110%;
}

label{
    padding: 3px;
    
}
button{
    margin-top: 8px;
    padding: 2px;
    cursor: pointer;
}
p{
    padding-top: 18px;
}
#resultado{
    text-align: center;
}
img{
    height: 320px;
    width: 300px;
    border-radius: 50%;
    padding-top: 20px;
    object-fit: cover;
}
footer{
    text-align: center;
    padding: 20px;
    font-size: 130%;
    font-style: italic;
}